* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.powericon{
  background-color: #282A36;
  min-width: 64px;
  min-height: 64px;
  border: 5px solid #ff79c6;
  border-radius: 999px;
}
.powericon:hover {
  background-color: #181A26;
}

.icon{
  padding: 50px;
}

.bar, scale trough{
  all:unset;
  background-color: #181A26;
  min-width: 256px;
  min-height: 32px;
  border-radius: 16px;
  margin-right: 16px;
}
.bar, scale trough highlight{
  all:unset;
  border-radius:16px;
}
.bar_root scale trough highlight{
  background-color: #7d63f9;
}
.bar_home scale trough highlight{
  background-color: #ff5555;
}
.bar_battery scale trough highlight {
  background-color: #50fa7b;
}
.main{
  padding: 20px;
  border-radius: 50px;
  border: 3px solid #44475a;
  background-color: #282A36;
}
.launcher_bar {
  border-top: 3px solid #44475a;
  background-color: #282A36;
}
.appicon{
  min-width: 64px;
  min-height: 64px;
  border-radius: 16px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.appicon:hover{
  background-color: #3F3F3F;
}
.separator{
  color: #FFB06C;
}

.content{
  margin: 25px;
}

.xclose{
  padding: 15px;
  border-radius: 64px;
  min-width: 32px;
  min-height:32px;
  background-color: transparent;
}
.xclose:hover {
  background-color: #181A26;
}

.batpercent, .percent, .kernelversion {
  font-size: 20px;
  font-family: Iosevka;
}
